<template name="bs-slider">
	<div class="bs-sidebar hidden-print affix" role="complementary">
		<ul class="nav bs-sidenav">
			<li class="active">
				<a href="#generic">Generic Courses</a>
			</li>
			
			<li>
				<a href="#gm">General Motors Courses</a>
			</li>
			
			<li>
				<a href="#ford">Ford Courses</a>
			</li>
			
			<li>
				<a href="#chrysler">Chrysler Courses</a>
			</li>
			
			<li>
				<a href="#toyota">Toyota Courses</a>
			</li>

			<li>
				<a href="#honda">Honda Courses</a>
			</li>

			<li>
				<a href="#nissan">Nissan Courses</a>
			</li>

			<li>
				<a href="#mazda">Mazda Courses</a>
			</li>

			<li>
				<a href="#volkswagen">Volkswagen Courses</a>
			</li>
		</ul>
	</div>
</template>