<template name="generic_courses">
	<div class="panel panel-default" id="{{name}}">
		<div class="panel-heading">
			<h3 class="panel-title">{{name}} Courses</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			{{#if courses}}
			{{#each courses}}
				
					<li class="list-group-item">
						{{name}}
						<button type="button" id="{{_id}}" class="btn btn-primary btn-xs pull-right add-to-cart" rel="popover" data-content="Please sign in before adding." data-original-title="Wait!">${{cost}}</button>
					</li>
				

			{{/each}}
			{{/if}}
			</ul>
		</div>
	</div>
	 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Item added to Cart!</h4>
        </div>
        <div class="modal-body">
          Would you like to proceed to checkout, or continue shopping?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
          <button type="button" id="toCheckout" class="btn btn-primary">Proceed to Checkout</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>