<template name="navbar">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{homePath}}">Injectronics</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="{{active '/'}}"><a href="{{homePath}}">Home</a></li>
          <li class="{{active '/about'}}"><a href="{{aboutPath}}">About</a></li>
          <li class="{{active '/courses'}}"><a href="{{coursesPath}}">Courses</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          
          <li><a>{{loginButtons}}</a></li>
          
          {{#if user}}
              <li><a href="#">Dashboard</a></li>
          {{/if}}
          <li class="{{active '/checkout'}}"><a href="{{checkoutPath}}" class="shoppingCart"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{inCart}}</span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</template>