<template name="about">

	<div id="aboutus">
		<div class="container">
			<div class ="section_header">
					<h3>About Us</h3>			
			</div>			
		</div>
	</div>

	<p>Injectronics has established a reputation for high impact, high quality technician training. Injectronics was established in 1986 by John Vandenberg. Since its beginning, it has been offering a wide variety of continuing technical education programs for technicians needing skill upgrading.</p>

	<p>Injectronics delivered training to over 150 locations 5 classes per year in both Canada and the USA covering all aspects of car repairs in 2007. Each class utilizes a custom simulator to enable the students to have "Hands On" experience during each class. All courses and simulators are developed and manufactured in our own R & D Center.</p>

	<p>Vehicle technology has and continues to increase in complexity. Any service dealer must be able to diagnose and repair today's advanced vehicle systems to be successful in the future. A service dealer must be committed to extensive training, to ensure customer loyalty and strong business future. The consumer must have confidence in your ability to fix the vehicle correctly the first time.</p>

	<p>Injectronics Training is your opportunity to make certain you stay in touch with the future of automotive diagnosis and vehicle repair.</p>
</template>