<template name="about">

	<div id="aboutus">
		<div class="container">

			<!-- Header -->
			<div class ="section_header">
					<h3>About Us</h3>			
			</div>		


			<!--About Us Content -->
			<div class="row">
					<div class="col-sm-6 intro">
						<h6>
							Injectronics has established a reputation for high impact, high quality technician training.
						</h6>

						<p>
							Injectronics was established in 1986 by John Vandenberg. Since its beginning, it has been offering a wide variety of continuing technical education programs for technicians needing skill upgrading.
							<br>
							<br>
							Injectronics delivered training to over 150 locations 5 classes per year in both Canada and the USA covering all aspects of car repairs in 2007. Each class utilizes a custom simulator to enable the students to have "Hands On" experience during each class. All courses and simulators are developed and manufactured in our own R & D Center.
						</p>
					</div>	

					<!-- FlexSlider -->
					<div class="col-sm-6">
						<div class="flexslider">
							<ul class ="slides">
								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide1.jpg" alt=""></li>

								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide2.jpg" alt=""></li>

								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide3.jpg" alt=""></li>
							</ul>

							<!-- <ul class="flex-direction-nav">
								<li>
									<a class="flex-prev" href="#">Previous</a>
								</li>
								<li>
									<a class="flex-next" href="#">Next</a>
								</li>
							</ul> -->
						</div>
					</div>
			</div>	
		</div>
	</div>

</template>