<template name="checkout">

<div class="panel panel-default" id="{{name}}">
		<div class="panel-heading">
			<h3 class="panel-title">Cart</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			{{#if displayCart}}
			{{#each displayCart}}
				
					<li class="list-group-item">
						{{name}}

						<button type="button" id="{{_id}}" class="btn btn-danger pull-right remove btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
						<span class="pull-right cost-checkout">${{cost}}</span>
					</li>
				
			{{else}}
			You do not currently have items in your cart.
			{{/each}}

			
			{{/if}}
			</ul>


		</div>
		{{#if cartNotEmpty}}
			<ul class="list-group">
    			<li class="list-group-item total">Total: <span class="pull-right">${{getTotalCost}}</span></li>
    		</ul>
		{{/if}}
	</div>

</template>