<template name="footer">
	<!-- FOOTER -->

	<div id="footer">
		<!-- wrapper-footer -->
		<div class="wrapper container">
			<!-- footer-cols -->
			<div class="main">
				<div class="row">
					<ul id="footer-cols">
						<li class="col-md-3 col">
							<h6>Navigation</h6>
							<ul>
								<li class="page_item"><a href="index.html">Home</a></li>
								<li class="page_item"><a href="about.html">About</a></li>
								<li class="page_item"><a href="media.html">Courses</a></li>
								<li class="page_item"><a href="contact.html">Contact</a></li>
							</ul>
						</li>

						<li class="col-md-3 col">
							<h6>Quick Links</h6>
							<ul>
								<li class="page_item"><a href="">SALE ONE</a></li>
								<li class="page_item"><a href="Programs/CivilianMonitors.html">SALE TWO</a></li>
								<li class="page_item"><a href="">SALE THREE</a></li>
								<li class="page_item"><a href="l">Checkout</a></li>
							</ul>
						</li>
						<li class="col-md-3 col">
							<h6> Contact Us </h6>
							<ul>
								<li>Injectronics</li>
								<li>Office: 204-738-4701</li>
								<li>Fax: 204-738-4621</li>
								<li>Winnipeg, MB.</li>
								<li>Email: inject@mts.net</li>
							</ul>
						</li>

						<li class="col-md-3 col">
							<h6> Social Links </h6>
							<ul>
								<li>FACEBOOK</li>
								<li>TWITTER</li>
								<li>GOOGLE PLUS</li>
						</li>

					</ul>
					<!-- ENDS footer-cols -->
				</div>
			</div>
		</div>
		<!-- ENDS wrapper-footer -->
	</div>
	<!-- ENDS FOOTER -->


	<!-- Bottom -->
	<div id="bottom">
		<!-- wrapper-bottom -->
		<div class="wrapper">
			<div class="main">
				<div id="bottom-text">&copy;2013 Injectronics All Rights Reserved.</div>
				<!-- Social -->
				<ul class="social ">

					<li><a href="http://www.twitter.com" class="poshytip twitter" title="Follow our tweets"></a></li>



					<li><a href="http://www.youtube.com" class="poshytip youtube" title="View our videos"></a></li>
				</ul>
				<!-- ENDS Social -->
				<div id="to-top" class="poshytip" title="To top"></div>
			</div>
		</div>
		<!-- ENDS wrapper-bottom -->
	</div>
	<!-- ENDS Bottom -->
</template>