<template name="home">	

	<!-- Start of Slider -->
	<section id="feature_slider">
		<article class="slide" id="showcasing" style="background-image: url(http://cleancanvas.herokuapp.com/img/backgrounds/landscape.png); display:none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
			<img class="asset left-30 sp600 t120 z1" src="img/slide1.jpg" alt="" style="left:-966px; top:120px; z-index: 1; display: inline">
			<div class="info" style="display:none">
				<h2>Heading for something on site</h2>
			</div>
		</article>

		<article class="slide" id="ideas" style="background-image: url(http://cleancanvas.herokuapp.com/img/backgrounds/landscape.png); display:none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
			<div class="info" style="display:none">
				<h2>A different heading about injectronics</h2>
				<img class="asset left-480 sp600 t260 z1" src="img/left.png" style="left: -841px; top: 260px; z-index: 1; display: inline;">
				<img class="asset left-210 sp600 t213 z2" src="img/middle.png" style="left: -854px; top: 213px; z-index: 2; display: inline;">
				<img class="asset left60 sp600 t260 z1" src="img/right.png" style="left: 468.5px; top: 260px; z-index: 1; display: inline;">
			</div>
		</article>

		<article class="slide" id="tour" style="background-image: url(http://cleancanvas.herokuapp.com/img/backgrounds/landscape.png); display:none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
				<img class="asset left-472 sp650 t210 z3" src="img/slide3.jpg" style="left: 1217px; top: 210px; z-index: 3; display: inline;">
				<img class="asset left-365 sp600 t270 z4" src="img/slide4.jpg" style="left: -485px; top: 270px; z-index: 4; display: inline;">
				<img class="asset left-350 sp450 t135 z2" src="img/slide5.jpg" style="left: 58.5px; top: 135px; z-index: 2; display: inline;">
				<img class="asset left-185 sp550 t220 z1" src="img/slide2.jpg" style="left: -746px; top: 220px; z-index: 1; display: inline;">
				<div class="info" style="display:none">
					<h2>Online Education Material</h2><a href="features.html">TOUR THE SITE</a>
				</div>
		</article>

		<article class="slide" id="responsive" style="background-image: url(http://cleancanvas.herokuapp.com/img/backgrounds/landscape.png); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <img class="asset left-472 sp600 t120 z3" src="img/html5.png" style="left: -732px; top: 120px; z-index: 3; display: inline;">
            <img class="asset left-190 sp500 t120 z2" src="img/css3.png" style="left: -732px; top: 120px; z-index: 2; display: inline;">
            <div class="info" style="display: none;">
                <h2>
                    Viewable on all Devices!
                </h2>                
            </div>
        </article>
       </section>
        <!-- END OF Slider -->

        <div id="showcase">
        	<div class="container">
        		<div class="section_header">
        			<h3>Our Services</h3>			
        		</div>		

        		<div class="row feature_wrapper">
        			<div class="features_op1_row">

        				<!--Feature-->
        				<div class="col-sm-4 feature first">
        					<div class="img_box">
        						<a href={{aboutPath}}>
        							<img src="img/class_seminar.jpg">

        							<span class="circle">
        								<span class="plus">+
        								</span>
        							</span>
        						</a>
        					</div>

        					<div class="text">
        						<h6>Class Pass</h6>
        						<p>
        							Injectronics has established a reputation for high impact, high quality technican training. 
        						</p>
        					</div>

        				</div>
        			


        			<!--Feature-->
        			<div class="col-sm-4 feature">
        				<div class="img_box">
        						<a href={{aboutPath}}>
        							<img src="img/all_classes.jpg">

        							<span class="circle">
        								<span class="plus">+
        								</span>
        							</span>
        						</a>
        					</div>

        					<div class="text">
        						<h6>Online Courses</h6>
        						<p>
        							Injectronics has established a reputation for high impact, high quality technican training. 
        						</p>
        					</div>
        			</div>

        			<!--Feature-->
        			<div class="col-sm-4 feature last">
                        <div class="img_box">
                            <a href="services.html">
                                <img src="img/all_seminar.jpg">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>All Access</h6>
                            <p>
                                There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                            </p>
                        </div>
                    </div>


        		</div>
        	</div>
        </div>
    </div>

    <div id="features">
    	<div class="container">
    		<div class="section_header">
    			<h3>Features</h3>
    		</div>

    		<div class="row feature">
    			<div class="col-sm-6">
    				<img src="img/showcase3.png" class="img-responsive">
    			</div>

    			<div class="col-sm-6 info">
                    <h3>
                        <img src="img/features-ico1.png">
                        Online Courses
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
    		</div>

    		<div class="row feature">
    			<div class="col-sm-6 pic-right">
    				<img src="img/showcase3.png" class="img-responsive">
    			</div>

    			<div class="col-sm-6 info info-left">
                    <h3>
                        <img src="img/features-ico2.png">
                        Classroom Training
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
    		</div>

    		<div class="row feature">
    			<div class="col-sm-6">
    				<img src="img/showcase3.png" class="img-responsive">
    			</div>

    			<div class="col-sm-6 info">
                    <h3>
                        <img src="img/features-ico3.png">
                        Our History
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
    		</div>
    	</div>
    </div>
</template>